.element__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    max-height: 70px;
    width: 100%;
}


/* .element__description {
    padding: 22px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  */