.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 45px 19px 0 19px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 618px) {
    .header {
        margin: 28px 0 0 0;
        padding: 0 19px;
    }
}